.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
*.pyc
*.whl
pip-selfcheck.json
static_files
.env
/backend/requirements.txt
*.log
media
static
*.mo
backend/itskilleval/migrations/
